In [2]:
# Imports 
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("listings.csv")

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (43,94) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df = df[["id", "name", "neighbourhood", "zipcode", "latitude", "longitude", "is_location_exact", "property_type", 
           "bedrooms", "bathrooms", "price", "number_of_reviews", "first_review", "last_review"]]
df.head()

,id,name,neighbourhood,zipcode,latitude,longitude,is_location_exact,property_type,bedrooms,bathrooms,price,number_of_reviews,first_review,last_review
0,5570,Ocean front condo on the sand,Mission Beach,92109,32.78430,-117.25258,t,Condominium,2.0,1.0,"$2,050.00",0,NaN,NaN
1,8488,Juniper Zen Palace- SD's Best Hood!,South Park,92104,32.72839,-117.12824,t,House,3.0,2.0,$225.00,43,2010-10-13,2020-02-04
2,29967,"Great home, 10 min walk to Beach",Pacific Beach,92109,32.80724,-117.25630,t,Bungalow,2.0,2.0,$225.00,60,2010-07-09,2018-08-09
3,38245,Point Loma: Den downstairs,Loma Portal,92106,32.74202,-117.21870,t,House,1.0,1.0,$75.00,143,2010-09-09,2019-10-20
4,39516,Art Studio Retreat/Rustic Cabin,North Park,92104,32.73188,-117.11918,t,Tiny house,1.0,1.0,$74.00,394,2010-07-20,2020-02-12

In [13]:
df_Zillow = pd.read_csv("City_Zhvi_AllHomesV2.csv")
df_Zillow = df_Zillow[df_Zillow[''] == "San Diego County"]
df_Zillow.dropna()

Empty DataFrame
Columns: [RegionID, RegionName, State, Metro, CountyName, SizeRank, 1996-04, 1996-05, 1996-06, 1996-07, 1996-08, 1996-09, 1996-10, 1996-11, 1996-12, 1997-01, 1997-02, 1997-03, 1997-04, 1997-05, 1997-06, 1997-07, 1997-08, 1997-09, 1997-10, 1997-11, 1997-12, 1998-01, 1998-02, 1998-03, 1998-04, 1998-05, 1998-06, 1998-07, 1998-08, 1998-09, 1998-10, 1998-11, 1998-12, 1999-01, 1999-02, 1999-03, 1999-04, 1999-05, 1999-06, 1999-07, 1999-08, 1999-09, 1999-10, 1999-11, 1999-12, 2000-01, 2000-02, 2000-03, 2000-04, 2000-05, 2000-06, 2000-07, 2000-08, 2000-09, 2000-10, 2000-11, 2000-12, 2001-01, 2001-02, 2001-03, 2001-04, 2001-05, 2001-06, 2001-07, 2001-08, 2001-09, 2001-10, 2001-11, 2001-12, 2002-01, 2002-02, 2002-03, 2002-04, 2002-05, 2002-06, 2002-07, 2002-08, 2002-09, 2002-10, 2002-11, 2002-12, 2003-01, 2003-02, 2003-03, 2003-04, 2003-05, 2003-06, 2003-07, 2003-08, 2003-09, 2003-10, 2003-11, 2003-12, 2004-01, ...]
Index: []

[0 rows x 292 columns]